body {
    background-color: #141414;
}

#main_div, #achiev{
    background-color: #2B4965;
}
.mob-custom-border, .Navigation, .test, .border, .user-wallets{
    background-color: #2B4965;
}

.modal-user-color, .profile-block-background, .table-background{
    background-color: #2B4965 !important;
}

h5{
    color: #FFF;
}

.default-text, .header-text{
    color: #fff;
    text-decoration: none;
}

.sort-choosed{
    color: #00AAFF;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.selected-text, .user-name-text, .user-emal-text, .about-header-text, .about-text, .user-wallet-text{
    color:#fff;
}

.selected-text:hover{
    color:#fff;
}

.selected-text:focus{
    color:#fff;
}

.default-text:hover{
    color: #00AAFF;
}

.default-text:focus{
    color: #fff;
}

.disabled:hover{
    color: #fff;
}

.active{
    color: #00AAFF;
}
#val_name{
    border-right:1px solid #FFF;
}

button:focus{
    outline:none;
}

.btn-danger {
    background-color: #2b4965 !important;
    border-color: #00aaff !important;
    color: white !important;
}
.btn-success {
    background-color: #00aaff !important;
    border-color: #00aaff !important;
    color: white !important;
}
.btn-success:hover {
    background-color: #00aaff !important;
    border-color: #00aaff !important;
    box-shadow: 0px 0px 15px #00aaff !important;
    color: white !important;
}
.btn-danger:hover {
    background-color: #2b4965 !important;
    box-shadow: 0px 0px 15px #00aaff !important;
    color: white !important;
}
