body {
    background-color: #141414;
}

#main_div, #achiev {
    background-color: #2B4965;
}
.mob-custom-border, .Navigation, .test{
    background-color: #2B4965;
}


.default-text, .header-text{
    color: #fff;
    text-decoration: none;
}


.default-text:hover{
    color: #00AAFF;
}

.disabled:hover{
    color: #fff;
}

.active{
    color: #00AAFF;
}
#val_name{
    border-right:1px solid #FFF;
}

button:focus{
    outline:none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }