body {
    background-color: #141414;
}

#main_div, #achiev{
    background-color: #2B4965;
}
.mob-custom-border, .Navigation, .test, .border{
    background-color: #2B4965;
}

h5{
    color: #FFF;
}

.default-text, .header-text{
    color: #fff;
    text-decoration: none;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.selected-text{
    color:#fff;
}

.selected-text:hover{
    color:#fff;
}

.selected-text:focus{
    color:#fff;
}

.default-text:hover{
    color: #00AAFF;
}

.default-text:focus{
    color: #fff;
}

.disabled:hover{
    color: #fff;
}

.active{
    color: #00AAFF;
}
#val_name{
    border-right:1px solid #FFF;
}

button:focus{
    outline:none;
}


